{% extends "base.html.twig" %}


{% block main %}
<h1>Bienvenue au Tattoo Shop</h1>

<img src="https://c1.wallpaperflare.com/preview/354/220/903/tattoo-machine-tattoo-accessories-for-tattoos-tattoos-artists-drawing.jpg" alt="video présentation tattoo">

    <a class="bouton" href="{{ path('home-page') }}">Entrez</a>
{% endblock %}